*.pyc
*.pem
*.csv
*.txt
api_config.json

# ignore all .jsons
*.json
# except for:
US_stock_symbols_verbose.json
US_stock_symbols.json
autumn.json
breeze.json
cherry.json
lavender.json
marsh.json
midnight.json
patina.json
rime.json
rose.json
violet.json
yellow.json
