*.pyc
*.pem
*.csv
*.txt
api_config.json
test.py

# ignore all .jsons
*.json
# except for:
!options_dashboard/import_themes/
!options_dashboard/import_themes/*.json
!options_dashboard/company_tickers.json
# !options_dashboard/models/data_analysis/settings/heston_params.json
# !options_dashboard/US_stock_symbols.json
# !options_dashboard/US_stock_symbols_verbose.json